.App {
    text-align: center;
    margin-top: 50px;
  }
  
  textarea {
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  select {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  pre {
    background-color: #f0f0f0;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    white-space: pre-wrap;
    color: black;
  }
