* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.selectLanguage {
  display: flex;
  align-items: center;
  justify-content: center;

}
.selectLanguage select {
  height: 40px;
  width: 10%;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
}
.selectLanguage button{
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    color: black;
}
.container {
  display: flex;
  background-color: black;
  height: 80vh;
  justify-content: center;
  margin-top: 30px;
  gap: 5px;
}
.inputLeftArea {
  height: 100%;
  width: 50%;
}
.inputTextArea {
  height: 100%;
  width: 100%;
  color: black;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
.inputTextArea:focus{
    border-color: #007BFF;
    outline: none;
}
.outputRightArea {
  height: 100%;
  width: 50%;
}
.outputTextArea {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
.outputTextArea:focus{
    border-color:#007BFF;
    outline: none;
}
h1{
    text-align: center;
    padding-top: 50px;
}
.pre{
  height: 100%;
  width: 100%;
  color: black;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 650px;
  z-index: -1;
}
